# ignore the common tmp, debug, intermediate and ephemeral fellas
*.DS_Store
*.cache
*.swp
*~
*.tmp
*.zip
/log

# eliminate ID
.idea

# npm modules will be built dynamically
node_modules
package-lock.json

# build stuff that we don't want to keep in VCS
dist
reports
